#ContactUs{
    background-color: #879399;
    display:flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    padding: 20px;

}
#ContactUs>p{
    margin:0px;
    text-align: center;
}

.copyright{
    background-color: thistle;

    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    text-align: center;

}